*{
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #000;
}

a {
  color: #000;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

section a {
  color: #fff;
}

.navbar {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 15px;
  font-weight: bold;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar-nav-left {
  text-transform: uppercase;
  flex: 1;
  margin-left: 20px;
}

.navbar-nav-right li:first-child a {
  display: flex;
  align-items: center;
}

.navbar-nav-right img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.navbar-nav-right li:nth-child(2) {
  margin: 0 5px;
}

.btn{
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px #000 solid;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

.btn-dark{
    background-color: #000;
    color: #fff;
}

.btn-dark:hover{
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000;
}

.btn-dark-outline{
    border: 2px solid #000;
    color: #000;
}

.btn-dark-outline:hover{
    background-color: #000;
    color: #fff;
}


.commercial{
    background-image: url(kepek/commercial.jpg);
    background-size: cover;
    padding: 20px 20px;
}



main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section img {
    max-width: 65%;
    margin-bottom: 10px;
    margin-top: 20px;
}

p {
    font-size: 14px;
    margin-bottom: 5px;
}

.price {
    font-size: 13px;
}

.old {
    text-decoration: line-through;
    color: gray;
    margin-right: 5px;
}

.new {
    background-color: #2cff2c;
    padding: 2px 6px;
    font-weight: 1px00;
}


footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 70px;
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column; 
        gap: 15px;
    }
    
    .navbar ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar li {
        margin: 5px 10px;
    }

    .commercial2, .commercial3 {
        grid-template-columns: 1fr; 
    }

    section img {
        max-width: 80%;
    }
}